#root,
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.not-found {
  padding: 10%;
}

.clickable {
  user-select: none;
  cursor: pointer;
}

.hide-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

.navigation-item {
  border-bottom: 3px solid transparent;
}

.navigation-item.active {
  border-bottom: 3px solid #c2e189;
}

.update-field {
  cursor: pointer;
}
